# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.clang_complete
*.json
*.dblite
*.elf
*.hex
*.json
*checksum
*piopm
*yml
*.cpp
*.h
*.md
*.skip
MatrixMathExample.ino
*.properties
LICENSE
*.checksum
*.json
